div.walpapper{
    width: 100%;
    overflow: hidden;
    max-height: 30vh;
    position: relative;
    background-color: black;
    top: 0px;
    box-shadow: -1px 3px 12px 0px black;
  
  }
  div.walpapper img{
    width: 100%;
  }
  div.profileInfo{
    position: absolute;
    top: 0;
    margin-left: 2vw;
    height: 100%;
    display: grid;
    align-items: center;
    width: calc(100% - 4vw);
    grid-template-columns: 15% 60% 25%;
    color: white;
    text-shadow: 0px 1px 12px rgba(150, 150, 150, 1);
  }
  div.avatar{
    height: 15vh;
    width: 15vh;
    border-radius: 50%;
    background-image: url('https://krasivyepricheski.com/sites/default/files/pricheski/3-6/ec7736b20e1a.jpg');
    background-size: cover;
    background-position: top;
    border: solid #1b3890 2px;
  }
  div.info{
    color: lightgrey;
    text-align: right;
    cursor: pointer;
    align-self: baseline;
  }