@font-face{
  src: url(./components/DidactGothic-Regular.woff);
  font-family: 'Gothic';
}
h1, h2, h3, h4, h5{
  font-family: 'Gothic';
}
a{
  color: inherit;
  text-decoration: none;
}
div.appWrapper{
  display: grid;

  grid-template-areas: 
  'header header'
  'nav content';

  grid-template-rows: 100px calc(90vh - 100px) 1fr;
  grid-template-columns: 2fr 10fr;
}
img.logo{
  margin: 6px;
  width: 150px;
  height: 150px;
  margin-left: 2vw;
  position: absolute;
  top: 0;
  box-shadow: 1px 0px 12px 3px black;
}
header.header{
  grid-area: header;
  background-color: #1b3890;
  display: flex;
}
nav.nav{
  grid-area: nav;
  display: grid;
  padding-top: 100px;
  font-size: 120%;
  font-family: 'Gothic';
  font-weight: bold;
  grid-template-rows: repeat(4, 40px) 100px;
}
div.paragraphOfMenu{
  margin-left: 2vw;
}
div.settings{
  align-self: end;
}
div.content{
  width: calc(100% - 2vw);
}
div.walpapper{
  width: 100%;
  overflow: hidden;
  max-height: 30vh;
  position: relative;
  background-color: black;
  top: 0px;
  box-shadow: -1px 3px 12px 0px black;

}
div.walpapper img{
  width: 100%;
}
div.profileInfo{
  position: absolute;
  top: 0;
  margin-left: 2vw;
  height: 100%;
  display: grid;
  align-items: center;
  width: calc(100% - 4vw);
  grid-template-columns: 15% 60% 25%;
  color: white;
  text-shadow: 0px 1px 12px rgba(150, 150, 150, 1);
}
div.avatar{
  height: 15vh;
  width: 15vh;
  border-radius: 50%;
  background-image: url('https://krasivyepricheski.com/sites/default/files/pricheski/3-6/ec7736b20e1a.jpg');
  background-size: cover;
  background-position: top;
  border: solid #1b3890 2px;
}
div.info{
  color: lightgrey;
  text-align: right;
  cursor: pointer;
  align-self: baseline;
}
.newPost form{
  display: flex;
  align-items: center;
}
.newPost textarea,.newPost button{
  width: 60%;
  height: 1em;
  border: #1b3890 1px solid;
  outline: none;
  background-color: transparent;
  font-size: 130%;
  padding: 0.4em;
}
.newPost textarea{
  overflow: hidden;
  resize: none;
}
.newPost button{
  width: 15%;
  height: calc(1.8em - 5px);
  padding: 0;
  border-radius: 0em 1em 1em 0em;
  border-left: none;
  cursor: pointer;
  text-align: right;
  padding-right: 1em;
  font-family: 'Gothic';
}
div.post{
  margin-top: 2em;
  display: flex;
}
div.autorsAvatar{
  height: 8vh;
  width: 8vh;
  border-radius: 50%;
  background-image: url('https://krasivyepricheski.com/sites/default/files/pricheski/3-6/ec7736b20e1a.jpg');
  background-size: cover;
  background-position: top;
  border: solid #1b3890 2px;
}
div.postContent{
  margin-left: 2em;
  font-style: italic;
}
div.postText::after{
  content: "...";
}