@font-face{
  src: url(./components/DidactGothic-Regular.woff);
  font-family: 'Gothic';
}
h1, h2, h3, h4, h5{
  font-family: 'Gothic';
}
a{
  color: inherit;
  text-decoration: none;
}
div.appWrapper{
  display: grid;

  grid-template-areas: 
  'header header'
  'nav content';

  grid-template-rows: 100px calc(90vh - 100px) 1fr;
  grid-template-columns: 2fr 10fr;
}